@import "var";

body {
  color: white;
  min-height:800px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
@mixin pages-background {
  background: #343434 $background-pages 50% 260px no-repeat;
}
body {
  background: #343434;
  background-image: $background-index;
  background-repeat: no-repeat;
  background-position: left top;
}

@media screen and (max-width:480px) {
  body {
    background-position: $background-index-position-small;
  }
}

#nav {
  text-align: right;
  font-size: 1.4em;
  margin: 20px;

  li {
    margin-top: 10px;

    a:link, a:visited {
      color: $nav-link-color;
    }
    a:hover {
      color: $nav-link-color-hover;
    }
  }
}