@import "var";

body {
  color: white;
  min-height:800px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: $background-index-color $background-pages 50% 260px no-repeat;
  //background-attachment: fixed;
}
body.index {
  background: $background-index-color $background-index left top no-repeat;
}
@media screen and (max-width:480px) {
  body.index {
    background-position: $background-index-position-small;
  }
}

#nav {
  text-align: right;
  font-size: 1.4em;
  margin: 20px;

  li {
    margin-top: 10px;

    a:link, a:visited {
      text-shadow: 1px 1px 1px #343434;
      color: $nav-link-color;
    }
    a:hover {
      color: $nav-link-color-hover;
    }
  }
}

#wrap {
  padding: 20px;
}

p {
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.5em;
  text-shadow: 1px 1px 1px black;
}

img {
  max-width: 100%;
}

strong {
  font-weight: bold;
  color: black;
}
.em1 {
  color: $em-color-1;
}
.em2 {
  color: $em-color-2;
}

