$background-index: image-url('main.jpg');
$background-index-position-small: -350px top;
$background-index-color: #222B34;

$background-pages: image-url('bg2.png');

$nav-link-color: #ff2828;
$nav-link-color-hover: white;

$em-color-1: #ff9000;
$em-color-2: #2d95ff;