---
title: Artwork
sort: 1
---

%p.above
  Certainly God didn't create my hand to draw. I always got lowest score on art back in the school days.
  However, my eyes are keen on object detail, so i can translate what i see into 2D drawing, where i draw
  using mouse, not hand.

%p.above
  Nowdays, i use my skill on vector drawing to aid me in designing user interface. These below are my selected drawings
  back when i still learn (and teach) vector drawing. Another thing i used to do that utilize my drawing "skill"
  is printed advertising, but i don't think they're worth to be put in here.

%ul.artwork-gallery
  %li
    %img{ :src => 'images/artwork/butterfly_01.jpg' }
  %li
    %img{ :src => 'images/artwork/butterfly_02.jpg' }
  %li
    %img{ :src => 'images/artwork/Kaoru.jpg' }
  %li
    %img{ :src => 'images/artwork/misao.jpg' }
  %li
    %img{ :src => 'images/artwork/misao-2008.jpg' }

%p.below
  Certainly God didn't create my hand to draw. I always got lowest score on art back in the school days.
  However, my eyes are keen on object detail, so i can translate what i see into 2D drawing, where i draw
  using mouse, not hand.

%p.below
  Nowdays, i use my skill on vector drawing to aid me in designing user interface. Those above are my selected drawings
  back when i still learn (and teach) vector drawing. Another thing i used to do that utilize my drawing "skill"
  is printed advertising, but i don't think they're worth to be put in here.
